body {
	background: url(source.gif) 100%;
	background-repeat: no-repeat;
	height: 100%; 
	background-position: center;
	background-size: cover;
	color:white;
}

.metasub-download{
	background-color: lightgrey;
  	position: absolute;
	background-color: lightgrey;
	position: relative;
	width: 300px;
  	border: 25px solid white;
  	padding: 25px;
	border-radius: 25px;
  	margin: auto;
}

.heading-message {
	font-weight: bold;
    	font-size: 30px;
}

.align-text-center {
	text-align: center;
}

.boxed {
  border: 2px solid #FF8C00;
}

.italic-font-size-25 {
	font-style: italic;
	font-weight: bold;
    	font-size: 25px;
}

.bold-font-size-30 {
	font-weight: bold;
    	font-size: 40px;
}

.font-size-20 {
	font-size: 20px;
}

.vertical-separator-from-top-10 {
	margin-top: 10px;
}

.vertical-separator-from-top-50 {
	margin-top: 50px;
}

.orange-text {
	color: orange
}

.light-green-text {
	color: #99CC00;
}

.open-sans-sans-serif-text {
	font-family: 'Open Sans', sans-serif;
}

.invalidation-message {
  color: #f44336;
}

/* 
	 External CSS styles 
	 Sources - 
			1) https://stackoverflow.com/a/25825731/5928129
			2) https://wdexplorer.com/20-examples-beautiful-css-typography-design/
*/

input[type="file"] {
    display: none;
}

.button {
		font-family: 'Raleway',sans-serif;
		font-weight: 600;
		border: 2px solid #3368FF;
		border-radius: 15px;
		display: inline-block;
		padding: 12px 12px;
		cursor: pointer;
		color: #000000;
		background-color: #663366;
		transition: all 0.5s;
		cursor: pointer;
		margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.main-title {
	color: white;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 60px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	text-align: center;
}

.title-description {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 300;
	line-height: 32px;
	margin: 0 0 72px;
	text-align: center;
}
