<!DOCTYPE html>
<html>
  <head>
		<script src='angular.js'></script>
		<script src="canvas.js"></script>
		<script src='client.js'></script>
		<title>Microbiome Diversity Inspector - A tool for visual analysis of microbiome data</title>
		<link rel='shortcut icon' href='favicon.ico'>
		<link rel='stylesheet' href='tool.css'>
  </head>
  <body ng-app='myApp' ng-controller='MyController as myCtrl'>
		<div class='heading-message align-text-center main-title'>Microbiome Diversity Inspector</div>
		<div class='heading-message align-text-center title-description'>A tool for visual analysis of microbiome data</div>
		<div class='vertical-separator-from-top-50'>
			<span class='margin-left-620'>
				<label for="fileInputAnalyze" class="custom-file-upload">Select a file</label>
				<input type="file" id="fileInputAnalyze" class="inputfile" file-picker/><br>
			</span>
			<h3 class='align-text-center open-sans-sans-serif-text'>Entropy Analysis<span></h3>
		</div>
		<div class='vertical-separator-from-top-50'>
			<span class='margin-left-600'>
				<label for="fileInputConvertToFasta" class="custom-file-upload">Select a FASTQ file</label>
				<input type="file" id="fileInputConvertToFasta" class="inputfile" file-picker/><br>
			</span>
			<h3 class='align-text-center open-sans-sans-serif-text'>Convert <span class="orange-text">FASTQ</span> to <span class="light-green-text">FASTA</span><span></h3>
			<div class='align-text-center italic-font-size-25 open-sans-sans-serif-text' ng-show='myCtrl.startConversionToFasta'>
				Converting <span class='orange-text'>{{myCtrl.fileName}}</span> ...
			</div>
		</div>
		<div class='vertical-separator-from-top-50'>
			<div>
				<span class='margin-left-600'>
					<label for="fastaFileUploader" class="custom-file-upload">Select a FASTA file</label>
					<input type="file" id="fastaFileUploader" class="inputfile" file-picker/><br>
				</span>
			</div>
			<div class='vertical-separator-from-top-10'>
				<span class='margin-left-600'>
					<label for="qualFileUploader" class="custom-file-upload">Select a QUAL file</label>
					<input type="file" id="qualFileUploader" class="inputfile" file-picker/><br>
				</span>
			</div>
			<h3 class='align-text-center open-sans-sans-serif-text'>Convert <span class="light-green-text">FASTA</span> to <span class="orange-text">FASTQ</span><span></h3>
			<div class='align-text-center italic-font-size-25 open-sans-sans-serif-text' ng-show='myCtrl.startConversionToFastq'>
				Converting to <span class='light-green-text'>{{myCtrl.fileName}}</span> ...
			</div>
		</div>
		<div class='vertical-separator-from-top-50' ng-show='myCtrl.showAnalysis'>
			<div class='align-text-center italic-font-size-25' ng-if='!myCtrl.showEntropy'>Analyzing {{myCtrl.fileName}} ...</div>
			<div class='align-text-center boxed bold-font-size-30' ng-if='myCtrl.showEntropy'>Entropy = {{myCtrl.entropy}}</div>
			<div class='align-text-center'>
				<h1>The number of <span class='red-text'>A</span>'s are - <span class='red-text'>{{myCtrl.countOfA}}</span></h1>
				<h1>The number of <span class='burgundy-text'>T</span>'s are - <span class='burgundy-text'>{{myCtrl.countOfT}}</span></h1>
				<h1>The number of <span class='blue-text'>G</span>'s are - <span class='blue-text'>{{myCtrl.countOfG}}</span></h1>
				<h1>The number of <span class='green-text'>C</span>'s are - <span class='green-text'>{{myCtrl.countOfC}}<span></h1> 
			</div>
			<div class='vertical-separator-from-top-50'>
				<div id="chartContainer" style="height: 300px; width: 100%;"></div>
			</div>
		</div>
  </body>
</html>
