.heading-message {
	font-weight: bold;
  font-size: 30px;
}

.align-text-center {
	text-align: center;
}

.boxed {
  border: 2px solid #FF8C00;
}

.italic-font-size-25 {
	font-style: italic;
	font-weight: bold;
  font-size: 25px;
}

.bold-font-size-30 {
	font-weight: bold;
  font-size: 30px;
}

.vertical-separator-from-top-50 {
	margin-top: 50px;
}

.margin-left-510 {    
  margin-left: 510px;
}

.margin-left-600 {    
  margin-left: 600px;
}

.gold-text {
	color: #FFD700
}

.red-text {
	color: #FF0000
}

.blue-text {
	color: 	#0000FF
}

.green-text {
	color: #008000
}

/* 
	 External CSS styles 
	 Sources - 
			1) https://stackoverflow.com/a/25825731/5928129
*/

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 2px solid red;
    display: inline-block;
    padding: 12px 12px;
    cursor: pointer;
		color: blue;
}