body {
	background: url(source.gif);
	background-repeat: no-repeat;
	height: 100%; 
	background-position: center;
	background-size: cover;
	color:white;
}

.card {
	background-color: black;
	position: relative;
  border: 25px solid white;
  padding: 25px;
	border-radius: 25px;
  margin: auto;
	width: 700px;
}

.card-size-300 {
	width: 300px;
}

.heading-message {
	font-weight: bold;
    	font-size: 30px;
}

.align-text-center {
	text-align: center;
}

.boxed {
  border: 2px solid #FF8C00;
}

.italic-font-size-25 {
	font-style: italic;
	font-weight: bold;
    	font-size: 25px;
}

.bold-font-size-30 {
	font-weight: bold;
    	font-size: 40px;
}

.font-size-20 {
	font-size: 20px;
}

.vertical-separator-from-top-10 {
	margin-top: 10px;
}

.vertical-separator-from-top-20 {
	margin-top: 20px;
}

.vertical-separator-from-top-50 {
	margin-top: 50px;
}

.orange-text {
	color: orange
}

.light-green-text {
	color: #99CC00;
}

.open-sans-sans-serif-text {
	font-family: 'Open Sans', sans-serif;
}

.invalidation-message {
  color: #f44336;
}

/* 
	 External CSS styles 
	 Sources - 
			1) https://stackoverflow.com/a/25825731/5928129
			2) https://wdexplorer.com/20-examples-beautiful-css-typography-design/
			3) https://stackoverflow.com/a/3359409/5928129
			4) https://www.w3schools.com/css/css_tooltip.asp
			5) https://www.w3schools.com/css/css_table.asp
			6) https://www.w3schools.com/css/css_form.asp
*/

input[type=text], input[type=password], select {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#samples input[type=text] {
    width: 115px;
}

input[type="checkbox"] {
    position: relative;
    width: 20px;
    height: 20px;
}

input[type="file"] {
    display: none;
}

.button {
		font-family: 'Raleway',sans-serif;
		font-weight: 600;
		border: 2px solid #3368FF;
		border-radius: 15px;
		display: inline-block;
		padding: 12px 12px;
		cursor: pointer;
		color: #000000;
		background-color: #663366;
		transition: all 0.5s;
		cursor: pointer;
		margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:hover, .button:active , .hover-effect:hover, .hover-effect:active {
  background:yellow;
}

.main-title {
	color: white;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 60px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	text-align: center;
}

.title-description {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 300;
	line-height: 32px;
	margin: 0 0 72px;
	text-align: center;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext {
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
}

#samples {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#samples td, #samples th {
    border: 1px solid #ddd;
    padding: 8px;
		color: black;
}

#samples tr:nth-child(even){background-color: #f2f2f2;}

#samples tr:nth-child(odd){background-color: #FFF8DC;}

#samples tr:hover {background-color: #ddd;}

#samples th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
