<div class='align-text-center vertical-separator-from-top-50'>
	<span>
		<label for="fileInputAnalyze" class="button hover-effect font-size-20">Select a file</label>
		<input type="file" id="fileInputAnalyze" entropy-analysis-file-picker/><br>
	</span>
	<h3 class='align-text-center open-sans-sans-serif-text'>Entropy Analysis</h3>
</div>
<div class='vertical-separator-from-top-50' ng-if='entropyAnalysisCtrl.showAnalysis'>
	<div class='align-text-center italic-font-size-25' ng-if='!entropyAnalysisCtrl.showEntropy'>
		<div class="loader"></div>
		Analyzing <span class='orange-text'>{{entropyAnalysisCtrl.fileName}}</span> ...
	</div>
	<div class='align-text-center boxed bold-font-size-30' ng-if='entropyAnalysisCtrl.showEntropy'>
		Overall Entropy(Approx) = {{entropyAnalysisCtrl.entropy | number : 4}}
	</div>
	<div class='vertical-separator-from-top-50'>
		<div id="chartContainer" style="height: 300px; width: 100%;"></div>
	</div>
</div>	