body {
	background: url(assets/images/background.gif);
	background-repeat: no-repeat;
	height: 100%; 
	background-position: center;
	background-size: cover;
	color:white;
}

.card {
	background-color: black;
	position: relative;
  border: 25px solid white;
  padding: 25px;
	border-radius: 25px;
  margin: auto;
	width: 750px;
	display: table;
}

.blue-horizontal-rule {
  height: 10px;
  box-shadow: inset 0 9px 9px -3px rgba(11, 99, 184, 0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.card-size-300 {
	width: 300px;
}

.heading-message {
	font-weight: bold;
  font-size: 30px;
}

.align-text-center {
	text-align: center;
}

.align-text-left {
	text-align: left;
}

.boxed {
  border: 2px solid #FF8C00;
}

.italic-font-size-25 {
  font-style: italic;
	font-weight: bold;
  font-size: 25px;
}

.bold-font-size-30 {
	font-weight: bold;
  font-size: 40px;
}

.font-size-20 {
	font-size: 20px;
}

.vertical-separator-from-top-10 {
	margin-top: 10px;
}

.vertical-separator-from-top-20 {
	margin-top: 20px;
}

.vertical-separator-from-top-50 {
	margin-top: 50px;
}

.orange-text {
	color: orange
}

.light-green-text {
	color: #99CC00;
}

.tomato-text {
	color: #FF6347;
}

.open-sans-sans-serif-text {
	font-family: 'Open Sans', sans-serif;
}

.invalidation-message {
  color: #f44336;
}

.width-50-percent {
	width: 50%;
}

/* 
	 External CSS styles 
	 Sources - 
			1) https://stackoverflow.com/a/25825731/5928129
			2) https://wdexplorer.com/20-examples-beautiful-css-typography-design/
			3) https://stackoverflow.com/a/3359409/5928129
			4) https://www.w3schools.com/css/css_tooltip.asp
			5) https://www.w3schools.com/css/css_table.asp
			6) https://www.w3schools.com/css/css_form.asp
			7) https://stackoverflow.com/a/114549/5928129 
			8) https://stackoverflow.com/a/17451132/5928129
			9) https://codepad.co/snippet/AYXI3hjg
			10) https://codepen.io/dodozhang21/pen/siKtp
			11) https://www.w3schools.com/howto/howto_css_loader.asp
*/

input[type=text], input[type=password], select {
	width: 200px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#samples input[type=text] {
	width: 115px;
}

input[type="checkbox"] {
	position: relative;
	width: 20px;
	height: 20px;
}

input[type="file"] {
	display: none;
}

.button {
	font-family: 'Raleway',sans-serif;
	font-weight: 600;
	border: 2px solid #3368FF;
	border-radius: 15px;
	display: inline-block;
	padding: 12px 12px;
	cursor: pointer;
	color: #000000;
	background-color: #663366;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:hover, .button:active , .hover-effect:hover, .hover-effect:active {
  background:yellow;
}

.main-title {
	color: white;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 60px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	text-align: center;
}

.title-description {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 300;
	line-height: 32px;
	margin: 0 0 72px;
	text-align: center;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: #FF6347;
	color: black;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	font-weight: bold;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.tooltip .tooltiptext {
	opacity: 0;
	transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
	opacity: 1;
}

#samples {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#samples td, #samples th {
	border: 1px solid #ddd;
	padding: 8px;
	color: black;
}

#samples tr:nth-child(even){background-color: #f2f2f2;}

#samples tr:nth-child(odd){background-color: #FFF8DC;}

#samples tr:hover {background-color: #ddd;}

#samples th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #4CAF50;
	color: white;
}

.align-inner-div-to-center-of-outer-div {
  margin: 0 auto;
}

.inner-scroller {
  overflow: scroll;
  height: 400px;
}

.down-arrow{
	position: relative;
	bottom: 45%;
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 50px;
  height: 50px;
  margin: auto;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}